In [8]:
power=lambda num:num**2
print(power(5))

25

In [3]:
add=lambda a,b: a+b
print(add(4,5))

9

In [4]:
multiply=lambda a,c: a**c
print(multiply(5,6))

15625

In [5]:
# Write a lambda that accepts a single number and cubes it. Save it in a variable called cube.
cube=lambda num: num**3
cube(5)

125

# map function

In [4]:
num=[3,4,5,6]
squared_sample=list(map(lambda x:x**2,num))
print(squared_sample)

[9, 16, 25, 36]

In [3]:
names=['kiran','ajith','kumar','vivek']
map_names=list(map(lambda x: x.upper(), names))
print(map_names)

['KIRAN', 'AJITH', 'KUMAR', 'VIVEK']

In [7]:
#using list comprehension
new=[i.upper() for i in names ]

In [8]:
print(new)

['KIRAN', 'AJITH', 'KUMAR', 'VIVEK']

In [10]:
nums=[3,4,5]
decrement_list=list(map(lambda x:x-1,nums))
print(decrement_list)

[2, 3, 4]

# filter functions

In [11]:
data=[2,3,4,6,7]
filter_1=list(filter(lambda x: x%2==0,data))
print(filter_1)

[2, 4, 6]

In [14]:
names=['abhilash','ajith','justin','suresh','tony']
filter_item=list(filter(lambda x: x[0]!='a',names))

In [13]:
filter_item

['abhilash', 'ajith']

In [15]:
filter_item

['justin', 'suresh', 'tony']

# coombining map and filter

In [22]:
names=['Lassie','Colt','Rusty']
first=list(filter(lambda x: len(x)<5,names))
second=list(map(lambda x: "your instructor is "+x,first))
print(second)

['your instructor is Colt']

In [24]:
names=['Lassie','Colt','Rusty']
#first=list(filter(lambda x: len(x)<5,names))
second=list(map(lambda x: "your instructor is "+x,filter(lambda x: len(x)<5,names)))
print(second)

['your instructor is Colt']

In [29]:
# list comprehension -better method
names=['Lassie','Colt','Rusty']
[f"your instructor is {i}"  for i in names if len(i)<5]

['your instructor is Colt']

# lambdas exercises map , filter

In [30]:
users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": []},
	{"username": "bob123", "tweets": []},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]

In [31]:
inactive_users=list(filter(lambda x: not x['tweets'],users))

print(inactive_users)

In [34]:
[x for x in users if not x['tweets']]

[{'username': 'jeff', 'tweets': []},
 {'username': 'bob123', 'tweets': []},
 {'username': 'guitar_gal', 'tweets': []}]

In [35]:
remove_neg=[4,-1,-5,5,6,-2]
result=list(filter(lambda x: not x<0,remove_neg))
print(result)

[4, 5, 6]

# BUILT IN FUNCTION

all()

In [12]:
nums=[4,5,9,10,12]
all(num>2 and num<15 for num in nums)

True

In [3]:
nums=[2,4,6,10]
all(num%2==0 for num in nums)

True

In [13]:
names=['jiss','jacob','akhil','jomon']
all(n[0]=='j' for n in names)

False

any()

In [10]:
any(n[0]=='j' for n in names)

True

# list comprehension vs generator expression

In [23]:
import sys
list_comp=sys.getsizeof([num*2 for num in range(1,10)])
gen_exp=sys.getsizeof((num*2 for num in range(1,10)))
print("To do the same Task:")
print(f"list comprehension:{list_comp} bytes")
print(f"Generator exp: {gen_exp} bytes")

To do the same Task:
list comprehension:192 bytes
Generator exp: 120 bytes

In [31]:
is_all_strings=['a','b','c','g']
all(type(str1)==str for str1 in is_all_strings)

True

In [44]:
all(x**2 for x in range(4))

False

In [24]:
type('a')

str

sorted()

In [32]:
sorted([3,4,1,6])

[1, 3, 4, 6]

In [35]:
sorted((9,10,4,7),reverse=True)

[10, 9, 7, 4]

In [39]:
songs = [
	{"title": "Happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

In [41]:
sorted(songs,key=lambda song_title: song_title['title'],reverse=True)
#here v use a oparameter called key which specify whaat should be sorted or how it shuld be sorted
#if not specified get err msg s
#so here func tells key to sort based on song title and print the reverse of result.

[{'title': 'YMCA', 'playcount': 99},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Happy birthday', 'playcount': 1}]

In [42]:
sorted(songs,key=lambda count: count['playcount'])

[{'title': 'Happy birthday', 'playcount': 1},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'YMCA', 'playcount': 99}]

In [43]:
sorted(songs,key=lambda count: count['playcount'],reverse=True)

[{'title': 'YMCA', 'playcount': 99},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Happy birthday', 'playcount': 1}]

max and min functions

In [1]:
nums=[4,5,1,10]
max(nums)

10

In [2]:
min(nums)

1

In [4]:
names=['Arya','Sam','Tony','Indhu']
max(names)

'Tony'

In [5]:
min(len(name) for name in names)

3

In [8]:
min(names, key=lambda n: len(n))

'Sam'

In [13]:
max(names,key=lambda n: len(n))

TypeError: '>' not supported between instances of 'function' and 'list'

In [12]:
(names,key=lambda n: len(n))

SyntaxError: invalid syntax (<ipython-input-12-87dd54a9a11d>, line 1)

In [14]:
songs = [
	{"title": "Happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 16},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

In [18]:
max(songs,key=lambda s:s['playcount'])['title']
#here max() tells key to find the song based on maximum playcount

'YMCA'

In [19]:
elements=[3,4,1,77,33]

3

In [3]:
tuple((x**2 for x in range(10)))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [11]:
extremes=[1,2,3,4,6]

36

In [14]:
new=sorted(extremes)

In [18]:
new[0],new[-2]

(1, 4)

In [22]:
extremes='helloa'
new=sorted(extremes)
new[0],new[-1]

('a', 'o')

In [24]:
def extremes(nums):
    return(min(nums), max(nums))
nums=[3,2,17]
extremes(nums)

(2, 17)

reversed()

In [27]:
nums=(1,4,2,6)
list(reversed(nums))

[6, 2, 4, 1]

In [30]:
nums=[3,4,1,9,5]
nums.reverse()

In [31]:
print(nums)

[5, 9, 1, 4, 3]

In [10]:
name='alcatraz'
list(reversed(name))

['z', 'a', 'r', 't', 'a', 'c', 'l', 'a']

In [1]:
tool_no=[4,3,1,10,9]
tool_no.reverse()
print(tool_no)

[9, 10, 1, 3, 4]

In [2]:
list(reversed(tool_no))

[4, 3, 1, 10, 9]

In [43]:
print(new)

[4, 3, 1, 10, 9]

In [41]:
type(new)

tuple

In [9]:
nums1=[4,1,3,10,5]
tuple(reversed(nums1))

(5, 10, 3, 1, 4)

In [15]:
name='jissmon'
list(reversed(name))

['n', 'o', 'm', 's', 's', 'i', 'j']

In [17]:
name.reverse()# cant do since reverse is a list method

AttributeError: 'str' object has no attribute 'reverse'

abs()

In [1]:
abs(3)

3

In [2]:
abs('sds')

TypeError: bad operand type for abs(): 'str'

In [3]:
abs(4.55)

4.55

In [4]:
abs(-44)

44

In [26]:
abs([3,4,5])

TypeError: bad operand type for abs(): 'list'

In [20]:
abs(max([3,4,5]))

5

sum()

In [5]:
sum(3,4,4)

TypeError: sum expected at most 2 arguments, got 3

In [6]:
sum([6,7,2])

15

In [7]:
sum([3,4,5],10)

22

In [8]:
sum((5,3),10)

18

In [9]:
sum({3,4,10.8})

17.8

In [10]:
sum(['ghg','dkfjd'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
sum(['dskd','sksl'],'dksj')

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [14]:
' '.join(['Hi','there','!'])

'Hi there !'

round()

In [ ]:
round(45.66)

In [16]:
round(32.11)

32

In [17]:
round(3.4567,2)

3.46

In [19]:
round(54.2476,2)

54.25

# Exercises

In [46]:
def max_magnitude(data):
    return max(abs(x) for x in data)
data=[300,20,-900]
max_magnitude(data)

900

In [14]:
'''
sum_even_values(1,2,3,4,5,6) # 12
sum_even_values(4,2,1,10) # 16
sum_even_values(1) # 0
'''

# define sum_even_values

def sum_even_values(*args):
    count=0
    for x in args:
        if x%2==0:
           count+=x
        return None
    print(count)
sum_even_values(1,2,3,4,5,8,10)
#sum_even_values(1,3,5)

In [20]:

def sum_even_values(*args):
    return sum(arg for arg in args if arg % 2 == 0)
sum_even_values(1,2,3,4,5,8,10)

24

In [18]:
def sum_odd_values(*args):
    return sum(arg for arg in args if arg%2!=0)
sum_odd_values(1,2,3,4,5,8,10)

9

In [42]:
def sum_floats(*args):
    floats=[arg for arg in args if type(arg) is float]
    return sum(floats)
sum_floats(4,6.9,7,10.5,6.5)
#sum_floats(4,5,6)

23.9

In [30]:
number=5.6
type(number)

float

In [31]:
if type(number) is float:
    print('ok')

ok

In [45]:
def sum_floats(*args):
    return sum(arg for arg in args if type(arg) is float)
sum_floats(4,6.9,7,10.5,6.5)

23.9

zip()

In [1]:
nums1=[3,4,5,6]
nums2=[1,2,6,7]

In [13]:
z=zip(nums1,nums2)

In [15]:
list(z)

[(3, 1), (4, 2), (5, 6), (6, 7)]

In [22]:
dict(z)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [23]:
dict(zip(nums1,nums2))

{3: 1, 4: 2, 5: 6, 6: 7}

In [19]:
z=[3,4]
y=[4,5]
c=zip(z,y)
dict(c)

{3: 4, 4: 5}

In [20]:
list(c)

[]

In [21]:
tuple(c)

()

In [25]:
nums3=[3,4,5,6]
nums4=[6,5,4]

In [26]:
z=zip(nums3,nums4)

In [27]:
list(z)

[(3, 6), (4, 5), (5, 4)]

In [28]:
pack1=[(4,5),(10,33),(44,12),(11,22)]
list(zip(*pack1))

[(4, 10, 44, 11), (5, 33, 12, 22)]

In [6]:
first_name={'ajith','jissmon','justin'}
last_name={'kumar','jose','varghese'}
list(zip(first_name,last_name))

[('jissmon', 'varghese'), ('justin', 'kumar'), ('ajith', 'jose')]

# more complex examples

In [15]:
midterms=[45,67,89]
finals=[89,77,80]
names=['ajith','ajay','dan']
#{t[0]:max(t[1],t[2]) for t in zip(names,midterms,finals)}

dict(zip(names,map(lambda pair: max(pair),zip(midterms,finals))))

{'ajith': 89, 'ajay': 77, 'dan': 89}

In [12]:
def interleave(str1,str2):
    result=zip(str1,str2)
    new_str=[pair[0]+pair[1] for pair in result]
    new_str2="".join(new_str)
    return new_str2
interleave('hi','no')

'hnio'

In [3]:
h=('h','i')
h[0]+h[1]

'hi'

In [16]:
data=[6,8,10,12]
new=list(filter(lambda x: x%4==0,data))
triple=[i*3 for i in new]
print(triple)

[24, 36]

In [20]:
data=[6,8,10,12]
new=list(map(lambda x: x*3,filter(lambda x: x%4==0,data)))
#triple=[i*3 for i in new]
print(new)

[24, 36]

In [25]:
'''
names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]
extract_full_name(names) # ['Elie Schoppik', 'Colt Steele']
'''


names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]
first_fetch=names[0]
sample=list(first_fetch.get('first'))

In [26]:
print(sample)

['E', 'l', 'i', 'e']

In [24]:
type(names)

list