In [1]:
nums=[4,5,6,7]
[x*10 for x in nums]

[40, 50, 60, 70]

In [2]:
numbers=[3,4,6]
new_list=[x*2 for x in numbers]
print(new_list)

[6, 8, 12]

In [4]:
my_name='ajith'
[char.upper() for char in my_name]

['A', 'J', 'I', 'T', 'H']

In [8]:
members=["ashley","colt","jennifer"]
[names[0].upper() for names in members]

['A', 'C', 'J']

In [7]:
list_new

['A', 'C', 'J']

In [9]:
members

['ashley', 'colt', 'jennifer']

In [10]:
['hello'+name for name in members]

['helloashley', 'hellocolt', 'hellojennifer']

In [11]:
[c*3 for c in range(1,7)]

[3, 6, 9, 12, 15, 18]

In [12]:
color

NameError: name 'color' is not defined

In [2]:
cars=["baleno","vento","hundai","mitsubhihimi"]
cars_new=[car.upper() for car in cars]

In [15]:
cars_new

['BALENO', 'VENTO', 'HUNDAI', 'MITSUBHIHIMI']

In [17]:
#to convers integer list to strings type
nums=[4,55,66,22]
[str(x)+"hello" for x in nums]

['4hello', '55hello', '66hello', '22hello']

In [23]:
item_nos=[44,55,22,33,77]
even_items=[num for num in item_nos if num%2==0 ]
odd_items=[num for num in item_nos if num%2!=0]
odd_items

[55, 33, 77]

In [24]:
even_items

[44, 22]

even_items

In [25]:
odd_items

[55, 33, 77]

In [26]:
new_numbers=[12,34,65,78,50]
new_list=[num*3 if num%5==0 else num/2 for num in new_numbers]
print(new_list)

[6.0, 17.0, 195, 39.0, 150]

In [27]:
new_list=["Elie","Tim","Matt"]
answer = [x[0] for x in new_list]

In [28]:
answer

['E', 'T', 'M']

In [30]:
new_list2=[1,2,3,4,5,6]
answer2 = [even for even in new_list2 if even%2==0 ]
print(answer2)

[2, 4, 6]

In [2]:
answer=[num for num in range(1,101) if num%12==0 ]
print(answer)

[12, 24, 36, 48, 60, 72, 84, 96]

In [3]:
answer = [char for char in "amazing" if char not in "aeiou"]

In [4]:
answer

['m', 'z', 'n', 'g']

In [3]:
details=['hello','jiss','333']
[d.upper() for d in details]

['HELLO', 'JISS', '333']