# for loops syntax

In [5]:
 for number in range(1,10):
    print(number)
    print(number**2)

1
1
2
4
3
9
4
16
5
25
6
36
7
49
8
64
9
81

In [4]:
for char in 'colt':
    print(char)

c
o
l
t

# ranges in for loops

In [6]:
range(10)

range(0, 10)

In [7]:
r=range(20)
print(r)

range(0, 20)

In [8]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [10]:
for number in range(10,21,1):
    print(number)

10
11
12
13
14
15
16
17
18
19
20

In [11]:
x = 0
for numbers in range(11,21,2):
    x+=numbers
    print(x)

11
24
39
56
75

In [13]:
no_of_times=int(input())
for new in range(no_of_times):
    print("ClEAN YOUR ROOM")

4
ClEAN YOUR ROOM
ClEAN YOUR ROOM
ClEAN YOUR ROOM
ClEAN YOUR ROOM

In [24]:
for numbers in range(1,21):
    if numbers==4 or numbers==13:
        print(numbers,"unlucky")
    elif numbers%2==0:
        print(numbers,"even")
    else:
        print(numbers,"odd")

1 odd
2 even
3 odd
4 unlucky
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 unlucky
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

# while loops

In [ ]:
msg=input("What's the secret password?")
while msg != "bananas":
    print("Wrong password")
    msg=input("What's the secret password?")
print("successful")

In [ ]:
num=1
while num<11:
    print(num)
    num+=1

# while loops

In [ ]:
print(10)