# creating sets -syntax

In [1]:
set1={1,3,4}

In [2]:
set1

{1, 3, 4}

In [3]:
set2={2,3,5,5,5}

In [4]:
set2

{2, 3, 5}

In [5]:
set_sample={1,22,33,44,66.22,'a','dkjsh'}

In [6]:
set_sample

{1, 22, 33, 44, 66.22, 'a', 'dkjsh'}

In [7]:
set_sample[2]

TypeError: 'set' object does not support indexing

In [8]:
22 in set_sample

True

# Accesing values in sets usinf for loop

In [10]:
s1={1,2,3,4}
for numbers in s1:
    print(numbers)

1
2
3
4

In [11]:
s2={'jiss','jacob','ajith'}
for strings in s2:
    print(strings)

ajith
jiss
jacob

# usinf set() function to list unique items from a list

In [ ]:
list_cities=['kochi','chennai','kochi','bengal','telangana']
list_cities

In [13]:
print(set(list_cities))

{'telangana', 'kochi', 'chennai', 'bengal'}

In [14]:
print(list(set(list_cities)))

['telangana', 'kochi', 'chennai', 'bengal']

In [15]:
print(len(set(list_cities)))

4

In [16]:
sets={1,2,3}

In [17]:
sets

{1, 2, 3}

# sample

In [18]:
sets={2,4,5,6,8,13,11}
for i in sets:
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

2 is even
4 is even
5 is odd
6 is even
8 is even
11 is odd
13 is odd

# using set() to create a set

In [19]:
s=set({2,3,4,6,8})
print(s)

{2, 3, 4, 6, 8}

# set methods

In [2]:
sets_data = {3,4,6,7}
sets_data.add(8)

In [3]:
sets_data

{3, 4, 6, 7, 8}

In [4]:
sets_data.add(4)
sets_data

{3, 4, 6, 7, 8}

In [5]:
names={'jiss','aju','don'}
names.remove('jiss')

In [6]:
names

{'aju', 'don'}

In [7]:
names.remove('krithi')

KeyError: 'krithi'

In [8]:
names.discard('sndjak')

In [9]:
names.discard('aju')

In [10]:
names

{'don'}

In [1]:
set3={3,4,5,8}
set3_copy=set3.copy()

In [2]:
set3_copy

{3, 4, 5, 8}

In [3]:
set3_copy is s

NameError: name 's' is not defined

In [4]:
set3_copy is set3

False

In [5]:
s=set({3,4,5})
s.clear()

In [6]:
s

set()

In [7]:
s={5,6}
s.clear()

In [8]:
s

set()

In [9]:
s.add(6)

In [10]:
s

{6}

# set math

In [2]:
biolog_stud={'ajith','vijay','rahul','jithin','remya','aparna'}
chemistry_stud={'james','charles','jithin','roopa','aparna','kumar'}

In [3]:
# to generate a set with all unique students.(SET UNION)
biolog_stud | chemistry_stud

{'ajith',
 'aparna',
 'charles',
 'james',
 'jithin',
 'kumar',
 'rahul',
 'remya',
 'roopa',
 'vijay'}

In [14]:
#to generate a set of students enrolled in both courses.(SET INTERSECTION)
biolog_stud & chemistry_stud

{'aparna', 'jithin'}

In [15]:
number1={4,5,6.89}
number2={5,6,9.10,11}
number1 | number2

{4, 5, 6, 6.89, 9.1, 11}

In [16]:
number1 & number2

{5}

In [1]:
sample_list=[3,4,5]
sets=set(sample_list)
sets

{3, 4, 5}

# set comprehension

In [3]:
{x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [4]:
{x**3 for x in range(6)}

{0, 1, 8, 27, 64, 125}

In [5]:
{char.upper() for char in 'jissmon'}

{'I', 'J', 'M', 'N', 'O', 'S'}

In [7]:
string='hello'
{char for char in string if char in 'aeiou'}

{'e', 'o'}

In [10]:
len({char for char in string if char in 'aeiou'})==2

True

In [12]:
set={1,4,5}
set.add(6)

In [13]:
set

{1, 4, 5, 6}

In [1]:
set={3,45}
set.add(45)

In [2]:
set

{3, 45}